$border: #dad6ab;

.sec-images, .asides {
    width: 90%;
    margin: auto;
}

.sec-1, .sec-2, .sec-3 {
    background-color: $border;
    margin-top: 2rem;
    padding: 2rem;
    img {
        width: 100%;
    }
    h1 {
        margin-top: 1rem;
    }
}

.aside-1, .aside-2, .aside-3 {
    margin-top: 2rem;
    padding: 2rem;
}

.aside-1, .aside-3 {
    border: $border 1px solid;
}


