footer nav ul {
    margin: 20px 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $navFooter;
}

footer nav ul li a {
    color: white;
    &:hover {
        text-decoration: underline red;
        color: rgb(65, 173, 206);
    }
}